<h1>Admin</h1>

<div>
<%= link_to "Categories", :categories %>
</div>
<div>
<%= link_to "Users", :users %>
</div>
<div>
<%= link_to "Orders", :bake_orders %>
</div>
<div>
<%= link_to "Bake Jobs", :bake_jobs %>
</div>