

<% if user_signed_in? %>
  <% if (action_name == 'index' && current_user.admin) || action_name == 'my_bakes' %>
    <% if action_name == 'index' %>
      <% path_helper = bakes_path %>
    <% elsif action_name == 'my_bakes' %>
      <% path_helper = my_bakes_path %>
    <% end %>

    <div class='py-2'>
      <% @filter_list.each do |filt| %>
        <% if params[:filter] %>
          <% btn_class = ( params[:filter] == filt ? 'btn btn-primary' : 'btn btn-outline-primary' ) %>
        <% else %>
          <% btn_class = ( filt == "all" ? 'btn btn-primary' : 'btn btn-outline-primary' ) %>        
        <% end %>
        <%= button_to filt.humanize.titleize, path_helper, method: :get, params: {filter: filt}, form_class: "inline-button-to", class: btn_class %>
      <% end %>
    </div>

  <% end %>
<% end %>

<% if !params[:filter] || params[:filter] == "all" %>
  <% filter_string = "" %>
<% else %>
  <% filter_string = " #{params[:filter]}" %>
<% end %>

<% if @bakes.any? %>
  <% bakes_count = @bakes.count %>
  <div>
    <p class="py-2"><%= "#{bakes_count}#{filter_string.humanize.downcase} #{"bake".pluralize(bakes_count)}" %></p>
  </div>

 
  <div class="row justify-content-center">
    <div class="card-flex-bakester">
      <% bakes.each do |bake| %>
          <%= render 'bakes/card', bake: bake %>
      <% end %>
    </div>
  </div>
<% else %>
  <p class='py-2'><%= "You have no#{filter_string.humanize.downcase} bakes" %></p>
<% end %>