<h1>Cart</h1>

<% if @cart.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(cart.errors.count, "error") %> prohibited checkout:</h2>

    <ul>
      <% @cart.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render 'cart', cart: @cart %>

<%= button_to "Checkout", {action: 'checkout', controller: 'bake_orders'}, data: {confirm: "Confirm this order and send to Bakers?"} %>
