<h1>All Orders</h1>

<%= render 'list', bake_orders: @bake_orders %>

<div class='py-4'>
  <%= button_to "Back", :admin, method: :get, class: 'btn btn-primary shadow', form_class: "inline-button-to" %>
</div>