<h1>My Orders</h1>

<%= render 'list', bake_orders: @bake_orders %>

<div class="mt-5">
  <%= button_to "Back", :root, method: :get, class: 'btn btn-secondary shadow', form_class: "inline-button-to" %>
</div>