<h1>My Jobs</h1>

<%= render 'list', bake_jobs: @bake_jobs %>

<div class="mt-5">
  <%= button_to "Back", :root, method: :get, class: 'btn btn-secondary shadow', form_class: "inline-button-to" %>
</div>