<h1><%= "Bake Jobs for #{@user.full_name}" %></h1>

<%= render 'list', bake_jobs: @bake_jobs %>

<div class="mt-5">
  <%= button_to "Back to Users", :users, method: :get, class: 'btn btn-primary shadow', form_class: "inline-button-to" %>
</div>