/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// Bootstrap breakpoints
// xs <576px
// sm ≥576px
// md ≥768px
// lg ≥992px
// xl ≥1200px
// xxl ≥1400px


// logo colours:
$bakester-logo-pink-d3: #d83168ff;
$bakester-logo-pink-d2: #dc4678ff;
$bakester-logo-pink-d1: #e05c87ff;
$bakester-logo-pink: #e47197ff;
$bakester-logo-pink-l1: #e886a7ff;
$bakester-logo-pink-l2: #ec9cb6ff;
$bakester-logo-pink-l3: #f0b1c6ff;
$bakester-logo-pink-l4: #f4c6d6ff;
$bakester-logo-pink-l5: #f8dce5ff;
$bakester-logo-pink-l6: #fcf1f5ff;



// browns 
$bakester-logo-brown-d3: #090501ff;
$bakester-logo-brown-d2: #1f1005ff;
$bakester-logo-brown-d1: #361b08ff;
$bakester-logo-brown: #4c260bff;
$bakester-logo-brown-l1: #62310eff;
$bakester-logo-brown-l2: #793c11ff;
$bakester-logo-brown-l3: #8f4715ff;
$bakester-logo-brown-l4: #a55218ff;
$bakester-logo-brown-l5: #bb5d1cff;
$bakester-logo-brown-l6: #d2681fff;
$bakester-logo-brown-l7: #e0752bff;
$bakester-logo-brown-l8: #e38341ff;
$bakester-logo-brown-l9: #e69257ff;
$bakester-logo-brown-l10: #e9a06dff;
$bakester-logo-brown-l11: #edaf83ff;
$bakester-logo-brown-l12: #f0bd9aff;
$bakester-logo-brown-l13: #f3ccb0ff;
$bakester-logo-brown-l14: #f7dac6ff;
$bakester-logo-brown-l15: #fae9ddff;

$primary: $bakester-logo-brown-l2;
$secondary: $bakester-logo-pink-d3;

// $enable-shadows: true;


@import "bootstrap/scss/bootstrap.scss";


// $bakester-light-pink: #f8dce5ff;
$bakester-light-pink: $bakester-logo-pink-l5;
$bakester-light-brown: $bakester-logo-brown-l14;


.bakester-bg-light-pink {
  background-color: $bakester-light-pink;
}

.bakester-bg-light-brown {
  background-color: $bakester-light-brown;
}

.bakester-bg-none {
  background-color: unset;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.bakester-text-bold {
  font-weight: bold;
}

.bakester-flex-shrink-0 {
  flex-shrink: 0;
}

.bakester-max-w-5 {
  max-width: 5rem;
}


.bakester-whitespace-nowrap {
  white-space: nowrap;
}

.bakester-width-unset {
  width: unset;
}

.bakester-width-100 {
  width: 100%;
}



// ------------------------ NAV -----------------------------

.navbar-collapse {
  justify-content: flex-end;
}

.bakester-title-img-and-nav {
  position: fixed;
  // position: relative;
  // display:flex;

  // background-image: linear-gradient(to bottom, rgba(255,255,255,1), 85%, rgba(255,255,255,0) );
  background-image:
    linear-gradient(
      to bottom,
      hsl(0, 0%, 100%) 0%,
      hsla(0, 0%, 100%, 0.987) 8.1%,
      hsla(0, 0%, 100%, 0.951) 15.5%,
      hsla(0, 0%, 100%, 0.896) 22.5%,
      hsla(0, 0%, 100%, 0.825) 29%,
      hsla(0, 0%, 100%, 0.741) 35.3%,
      hsla(0, 0%, 100%, 0.648) 41.2%,
      hsla(0, 0%, 100%, 0.55) 47.1%,
      hsla(0, 0%, 100%, 0.45) 52.9%,
      hsla(0, 0%, 100%, 0.352) 58.8%,
      hsla(0, 0%, 100%, 0.259) 64.7%,
      hsla(0, 0%, 100%, 0.175) 71%,
      hsla(0, 0%, 100%, 0.104) 77.5%,
      hsla(0, 0%, 100%, 0.049) 84.5%,
      hsla(0, 0%, 100%, 0.013) 91.9%,
      hsla(0, 0%, 100%, 0) 100%
    );
}

.bakester-navbar {
  width: 100%;
}

.bakester-spacer-for-bakester-img {
  width: 25vw;
  display: block
}

.bakester-nav-container {
  position: relative;
}


.bakester-title-img-outer {
  z-index: 10;
  position: relative;
  display: none;
}

.bakester-title-img-inner {
  width: 60vw;
  display: block;
}

.inline-button-to {
  display: inline;
  width: auto !important;
}

.nav-link {
  position: relative;  // so that the badge icons have somewhere to be positioned relative to
  display: flex !important;
  align-items: center;
}

.bakester-badge-container {
  z-index: 1;
  position: absolute;
  left: 1.5rem;
  top: .3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 1.5rem;

}

.bakester-badge {

  font-size: .8rem;
  font-weight: bold;
  background: $bakester-logo-pink-d2;
  color: #fff;
  text-align: center;
  white-space: nowrap;

  border-radius: 1.25rem;
  height: 1.25rem;
  min-width: 1.25rem;
  padding: 0 .3rem;
}

.bakester-nav-item-label {
  margin-left: 2rem;

}

.bakester-nav-item-icon {
  height: 32px;
  width: 32px;
}


// @media screen and (min-width: 576px ) {
@include media-breakpoint-up(sm) {

  .bakester-title-img-inner {
    width: 50vw;
  }
}


// @media screen and (min-width: 768px ) {
  @include media-breakpoint-up(md) {

  .bakester-title-img-inner {
    // width: 40vw;
  }
}


// @media screen and (min-width: 992px) {
@include media-breakpoint-up(md) { 
  
  .bakester-nav-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .bakester-title-img-inner {
    display: none;
  }
  
  .bakester-title-img-outer {
    display: block;
    left: 1rem;
    // width: auto;
  }

  .bakester-nav-item-label {
    display: none;
  }


}
// ------------------------- MAIN ------------------------

.bakester-main {

  padding-top: 100px;
}


@media screen and (min-width: 320px) {


  .bakester-main {

    padding-top: 160px;
  }
  
}


@include media-breakpoint-up(sm) { 

  .bakester-main {
    padding-top: 180px;
  }

}

@include media-breakpoint-up(md) { 

  .bakester-main {
    padding-top: 120px;
  }

}

@include media-breakpoint-up(lg) { 

  .bakester-main {
    padding-top: 150px;
  }

}

@include media-breakpoint-up(xl) { 

  .bakester-main {
    padding-top: 165px;
  }

}

@include media-breakpoint-up(xxl) { 

  .bakester-main {
    padding-top: 180px;
  }

}

// --------------------------- CARDS ------------------------------

$card-height: 100%;

.bakester-card-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.card {
 width: 100%;
}

.card-img {
 width: 100%;
 height: 100%;
//  height: 0;
//  padding-bottom: 75%;
 object-fit: cover;
}

.bakester-card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  
  p {
    margin: 0;
  }
}

.bakester-card-description {

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.auto-height-4-3-ratio {
  position: relative;
}

.bakester-card-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  // overflow: hidden;
  // object-fit: cover;
  height: 100%;
  // width: 100%;

  a {
    display: block;
    height: 100%;
  }
}



@include media-breakpoint-up(sm) { 

  .card {
    // width: 16rem;
    width: 48%
  }

  .card-img {
    // height: 12rem;
  }

}

@include media-breakpoint-up(md) { 

  .card {
    width: 20rem;
  }

  .card-img {
    height: 15rem;
  }

}

@include media-breakpoint-up(lg) { 

  .card {
    width: 28rem;
  }

  .card-img {
    height: 21rem;
  }

  .bakester-card-flex {
    gap: 1rem;
  }

}

@include media-breakpoint-up(xl) { 

  .card {
    width: 22rem;
  }

  .card-img {
    height: 16.5rem;
  }

  .bakester-card-flex {
    gap: 1.5rem;
  }

}


@include media-breakpoint-up(xxl) { 

  .card {
    width: 24rem;
  }

  .card-img {
    height: 18rem;
  }

  .bakester-card-flex {
    gap: 2rem;
  }
}


// -------------- BUTTONS -----------------

.bakester-mr-auto {
  margin-right: auto;
}


// --------------- SHOW BAKE ------------------

.bakester-show-bake {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.bakester-show-bake-image {
  width: 100%
}

.bakester-show-bake-panel {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: flex-start;
}

.bakester-inline {
  display: inline-block;
}

.show-bake-panel-bake-name-and-edit-button {
  display: flex;
}

.show-bake-panel-bake-name-and-edit-button > :not(.show-bake_panel-edit-button) {
  flex-grow: 1;
}

.show-bake_panel-edit-button {
  // flex-grow: 0;
}

@include media-breakpoint-up(lg) { 

  .bakester-show-bake {
    flex-direction: row;
  }

  .bakester-show-bake > * {
    flex-grow: 1;
    flex-basis: 0;

  }

}

// ------------------ SEARCH FORM --------------------------


.bakester-search-form-search-spacing {
  margin-top: 0rem;
  margin-bottom: 0rem;
}

@media screen and (min-width: 320px) {
  
  .bakester-search-form-search-spacing {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }


}

@include media-breakpoint-up(sm) {

  .bakester-search-form-search-spacing {
    margin-top: 3rem;
    margin-bottom: 4rem;
  }
}


.bakester-display-flex-sm {
  display: none;
}

@include media-breakpoint-up(sm) {
  .bakester-display-flex-sm {
    display: flex;
  }
}


.bakester-btn-end-rounded {
  // border-top-right-radius: 5px !important;
  // border-bottom-right-radius: 5px !important;
}



#bakester-search-form-activate {
  font-size: 1.2rem;
}

#bakester-search-form-activate.bakester-down-arrow::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/></svg>');
  padding-left: 0.5rem;
}
#bakester-search-form-activate.bakester-down-arrow.up::after {
  content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16"><path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/></svg>');
}

#bakester-search-form-activate {
  cursor: pointer;
}


.bakester-search-sort-select {
  max-width: 10rem;
}

.bakester-search-sort-group {
  justify-content: flex-end;
}

.hidden {
  height: 0;
  overflow: hidden;
  transition: height, 0.5s ease;
  // display:none;
}

.hidden.open {
  height: 340px;
  // display:block;

}

.hidden.open.admin {
  height: 370px;
}

@media screen and (min-width: 320px) {
  .hidden.open, .hidden.open.admin {
    // height: 672px;
  }
}

@include media-breakpoint-up(sm) {
  .hidden.open, .hidden.open.admin {
    height: 300px;
  }
}

@include media-breakpoint-up(md) {
  .hidden.open, .hidden.open.admin {
    height: 160px;
  }
}

@include media-breakpoint-up(lg) {
  .hidden.open, .hidden.open.admin {
    // height: 279px;
  }
}

.bakester-flex {
  display: flex;
  justify-content: flex-start;
}

.bakester-flex-column {
  flex-direction: column
}


.bakester-flex-row-sm {
  flex-direction: column;
}
@include media-breakpoint-up(sm) {
  .bakester-flex-row-sm {
    flex-direction: row;
  }
}



.bakester-flex-row-md {
  flex-direction: column;
}
@include media-breakpoint-up(md) {
  .bakester-flex-row-md {
    flex-direction: row;
  }
}


// .bakester-display-flex-none-sm {
//   display: flex;
// }
// @include media-breakpoint-up(sm) {
//   .bakester-display-flex-none-sm {
//     display: none;
//   }
// }


.bakester-flex-width-45 {
  width: 48%;
}

.bakester-flex-width-100 {
  width: 100%;
}

.bakester-flex-gap-1 {
  gap: 0.5rem;
}

@include media-breakpoint-up(md) {
  
  .bakester-flex-gap-1 {
    gap: 1rem;
  }
}

.bakester-flex-gap-0-5 {
  gap: 0.5rem;
}

.bakester-flex-gap-v-0-5 {
  row-gap: 0.5rem;
}

#bakester-search-reordering {

}


.bakester-search-category-input-group {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@include media-breakpoint-up(sm) {
  #bakester-search-text-field {
    order: 1;
  }

  #bakester-search-text-field > * {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right-width: 0;
  }

  #bakester-search-category-group {
    order: 2;
  }

  #bakester-search-button {
    order: 3;
  }


  .bakester-search-category-input-group {
    width: auto;
    padding: 0;
    border-radius: 0;
  }

  .bakester-search-category-input-group > * {
    border-radius: 0;
  }


}

// .bakester-form-number-control-narrow {

//   max-width: 70%;

// }

// #bakester-bake-search-reordering {
//   display: flex;
//   flex-direction: column;
//   gap: 0.5rem;
// }

// @include media-breakpoint-up(lg) {


//   #bakester-bake-search-options {
//     order: 3;
//   }

//   #bakester-bake-search-category-and-sort {
//     order: 2;
//   }

//   #bakester-bake-search-reordering {
//     flex-direction: row;
//     flex-wrap: wrap;
//   }

// }

// .bakester-bake-search-checkbox-align {
//   min-width: 90px;
//   text-align: end;
//   padding-right: 0.5rem;
// }

// @include media-breakpoint-up(md) {

//   .bakester-bake-search-checkbox-align {
//     min-width: none;
  
//   }
// }

// --------------------- TABLE ------------------------

.bakester-text-end {
  text-align: end;
  padding-right: 1rem !important;

}


.bakester-space-or-new-line-lg:after {
  content: "\a";
  white-space: pre;
}

@include media-breakpoint-up(lg) {
  .bakester-space-or-new-line-lg:after {
    content: " ";
  }
}

.bakester-table-cell-show-lg {
  display: none;
}

@include media-breakpoint-up(lg) {
  .bakester-table-cell-show-lg {
    display: table-cell;
  }
}

.bakester-table-cell-show-md {
  display: none;
}

@include media-breakpoint-up(md) {
  .bakester-table-cell-show-md {
    display: table-cell;
  }
}

.bakester-table-cell-show-sm {
  display: none;
}

@include media-breakpoint-up(sm) {
  .bakester-table-cell-show-sm {
    display: table-cell;
  }
}

