<h1>User Profile</h1>

<h2><%= @user.full_name %></h2>
<p>User since <%= @user.created_at.year %></p>
<% if @user.baker %>
  <p>Baker since <%= @user.baker_at.year %>
<% end %>

<%= render 'bakes/list', bakes: @user.bakes %>